#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.shoping-card-container{
  min-height: 470px;
  background-color: white;
  padding: 20px;
}
.shoping-card-container .title{
  font-size: 20px;
  font-family: "poppins";
  font-weight: bold;
  margin-bottom: 6px;
}

